<a href="https://colab.research.google.com/github/Hamza11222/Oversampling/blob/main/over_sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving hiring1.csv to hiring1 (1).csv

In [ ]:
data = pd.read_csv('hiring1 (1).csv')
data.head(100)

,Sr #,N A M E,Gender,Designation,Status,Joining,EDUCATION,EXPEREINCE,Age,Area,Department,City,Salary,Religion
0,1,Fatima Mahmood,F,Account Manager,Employed,12-Apr-21,MBA,4.0,24.0,DHA,client service,Lahore,150.0,Islam
1,2,Musab Ahmed,M,Sr. Account Manager,Employed,14-Jun-21,MBA,6.0,28.0,DHA,client service,Lahore,225.0,Islam
2,3,Syeda Sabika Zahra,F,Account Manager,Employed,15-Sep-17,MASTER MASS COMMUNICATION,6.0,24.0,cantt,client service,Lahore,175.0,Islam
3,4,Muhammad Arsalan Gilani,M,MTO- Client Service,Employed,21-Oct-21,BBA,0.5,21.0,DHA,client service,Lahore,100.0,Islam
4,5,Hasaan Khurshid,M,Associate Art Director,Employed,4-Nov-21,MBA,5.0,25.0,cantt,client service,Lahore,200.0,Islam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,bilal shahid,M,Administrator,Unemployed,1-Dec-21,BCOM IT,6.0,30.0,thokar,admin,Lahore,NaN,Islam
95,96,mohsin ali,M,marketing manager,Unemployed,1-Mar-21,BCOM,6.0,35.0,model colony,marketing,Lahore,NaN,Islam
96,97,m noraiz naveed,M,marketing manager,Unemployed,28-Feb-22,bs physice,1.0,25.0,karim town,marketing,faisalabad,NaN,Islam
97,98,umar aziz,M,IT manager,Unemployed,1-Jul-21,bs aviation management,11.0,27.0,thokar,IT,Lahore,NaN,Islam
98,99,wajiha amir,F,Social Media Manager,Unemployed,3-Jan-22,BBA,1.5,23.0,shahjamal,social media,Lahore,NaN,Islam

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(data['EDUCATION'])
education=le.classes_
data['EDUCATION']=le.transform(data['EDUCATION'])
data

,Sr #,N A M E,Gender,Designation,Status,Joining,EDUCATION,EXPEREINCE,Age,Area,Department,City,Salary,Religion
0,1,Fatima Mahmood,F,Account Manager,Employed,12-Apr-21,32,4.0,24.0,DHA,client service,Lahore,150.0,Islam
1,2,Musab Ahmed,M,Sr. Account Manager,Employed,14-Jun-21,32,6.0,28.0,DHA,client service,Lahore,225.0,Islam
2,3,Syeda Sabika Zahra,F,Account Manager,Employed,15-Sep-17,31,6.0,24.0,cantt,client service,Lahore,175.0,Islam
3,4,Muhammad Arsalan Gilani,M,MTO- Client Service,Employed,21-Oct-21,5,0.5,21.0,DHA,client service,Lahore,100.0,Islam
4,5,Hasaan Khurshid,M,Associate Art Director,Employed,4-Nov-21,32,5.0,25.0,cantt,client service,Lahore,200.0,Islam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,bilal shahid,M,Administrator,Unemployed,1-Dec-21,9,6.0,30.0,thokar,admin,Lahore,NaN,Islam
95,96,mohsin ali,M,marketing manager,Unemployed,1-Mar-21,8,6.0,35.0,model colony,marketing,Lahore,NaN,Islam
96,97,m noraiz naveed,M,marketing manager,Unemployed,28-Feb-22,46,1.0,25.0,karim town,marketing,faisalabad,NaN,Islam
97,98,umar aziz,M,IT manager,Unemployed,1-Jul-21,44,11.0,27.0,thokar,IT,Lahore,NaN,Islam
98,99,wajiha amir,F,Social Media Manager,Unemployed,3-Jan-22,5,1.5,23.0,shahjamal,social media,Lahore,NaN,Islam

In [ ]:
data.isnull().sum()

Sr #            0
N A M E         0
Gender          0
Designation     0
Status          0
Joining         0
EDUCATION       0
EXPEREINCE      1
Age             2
Area            0
Department      0
City            0
Salary         66
Religion        0
dtype: int64

In [ ]:
data['Salary'].fillna(value=data['Salary'].mean(), inplace=True)

In [ ]:
data['Age'].fillna(value=data['Age'].mean(), inplace=True)
data['EXPEREINCE'].fillna(value=data['EXPEREINCE'].mean(), inplace=True)

In [ ]:
data['Area'].fillna(value=data['Area'].mode(), inplace=True)

In [ ]:
data.isnull().sum()

Sr #           0
N A M E        0
Gender         0
Designation    0
Status         0
Joining        0
EDUCATION      0
EXPEREINCE     0
Age            0
Area           0
Department     0
City           0
Salary         0
Religion       0
dtype: int64

In [ ]:
targets = data['EDUCATION']

In [ ]:
data=data.drop(['EDUCATION'], axis = 1)
data

,Sr #,N A M E,Gender,Designation,Status,Joining,EXPEREINCE,Age,Area,Department,City,Salary,Religion
0,1,Fatima Mahmood,F,Account Manager,Employed,12-Apr-21,4.0,24.0,DHA,client service,Lahore,150.000000,Islam
1,2,Musab Ahmed,M,Sr. Account Manager,Employed,14-Jun-21,6.0,28.0,DHA,client service,Lahore,225.000000,Islam
2,3,Syeda Sabika Zahra,F,Account Manager,Employed,15-Sep-17,6.0,24.0,cantt,client service,Lahore,175.000000,Islam
3,4,Muhammad Arsalan Gilani,M,MTO- Client Service,Employed,21-Oct-21,0.5,21.0,DHA,client service,Lahore,100.000000,Islam
4,5,Hasaan Khurshid,M,Associate Art Director,Employed,4-Nov-21,5.0,25.0,cantt,client service,Lahore,200.000000,Islam
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,bilal shahid,M,Administrator,Unemployed,1-Dec-21,6.0,30.0,thokar,admin,Lahore,196.666667,Islam
95,96,mohsin ali,M,marketing manager,Unemployed,1-Mar-21,6.0,35.0,model colony,marketing,Lahore,196.666667,Islam
96,97,m noraiz naveed,M,marketing manager,Unemployed,28-Feb-22,1.0,25.0,karim town,marketing,faisalabad,196.666667,Islam
97,98,umar aziz,M,IT manager,Unemployed,1-Jul-21,11.0,27.0,thokar,IT,Lahore,196.666667,Islam
98,99,wajiha amir,F,Social Media Manager,Unemployed,3-Jan-22,1.5,23.0,shahjamal,social media,Lahore,196.666667,Islam

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

le.fit(data['N A M E'])
name=le.classes_
data['N A M E']=le.transform(data['N A M E'])
le.fit(data['Gender'])
gender=le.classes_
data['Gender']=le.transform(data['Gender'])
le.fit(data['Designation'])
designation=le.classes_
data['Designation']=le.transform(data['Designation'])
le.fit(data['Status'])
status=le.classes_
data['Status']=le.transform(data['Status'])
le.fit(data['Joining'])
joining=le.classes_
data['Joining']=le.transform(data['Joining'])
le.fit(data['Area'])
Area=le.classes_
data['Area']=le.transform(data['Area'])
le.fit(data['Department'])
department=le.classes_
data['Department']=le.transform(data['Department'])
le.fit(data['City'])
city=le.classes_
data['City']=le.transform(data['City'])
le.fit(data['Religion'])
religion=le.classes_
data['Religion']=le.transform(data['Religion'])

In [ ]:

data['Joining'] = data['Joining'].fillna((data['Joining'].max()))
data['Area'] = data['Area'].fillna((data['Area'].max()))
data

,Sr #,N A M E,Gender,Designation,Status,Joining,EXPEREINCE,Age,Area,Department,City,Salary,Religion
0,1,14,2,3,2,6,4.0,24.0,0,11,2,150.000000,0
1,2,25,3,17,2,9,6.0,28.0,0,11,2,225.000000,0
2,3,32,2,3,2,10,6.0,24.0,13,11,2,175.000000,0
3,4,23,3,14,2,19,0.5,21.0,0,11,2,100.000000,0
4,5,18,3,8,2,27,5.0,25.0,13,11,2,200.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,48,3,4,4,0,6.0,30.0,39,10,2,196.666667,0
95,96,77,3,37,4,3,6.0,35.0,25,15,2,196.666667,0
96,97,67,3,37,4,24,1.0,25.0,22,15,3,196.666667,0
97,98,95,3,13,4,2,11.0,27.0,39,9,2,196.666667,0
98,99,97,2,16,4,26,1.5,23.0,34,16,2,196.666667,0

In [ ]:
!pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (0.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.21.6)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.1.0)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn) (3.1.0)

In [ ]:
targets

0     32
1     32
2     31
3      5
4     32
      ..
94     9
95     8
96    46
97    44
98     5
Name: EDUCATION, Length: 99, dtype: int64

In [ ]:
data.shape

(99, 13)

In [ ]:
from imblearn.over_sampling import SMOTE,RandomOverSampler
oversample = RandomOverSampler()
X, y = oversample.fit_resample(data, targets)

In [ ]:
X

,Sr #,N A M E,Gender,Designation,Status,Joining,EXPEREINCE,Age,Area,Department,City,Salary,Religion
0,1,14,2,3,2,6,4.0,24.0,0,11,2,150.000000,0
1,2,25,3,17,2,9,6.0,28.0,0,11,2,225.000000,0
2,3,32,2,3,2,10,6.0,24.0,13,11,2,175.000000,0
3,4,23,3,14,2,19,0.5,21.0,0,11,2,100.000000,0
4,5,18,3,8,2,27,5.0,25.0,13,11,2,200.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,91,57,3,27,4,21,11.0,33.0,11,16,2,196.666667,0
908,91,57,3,27,4,21,11.0,33.0,11,16,2,196.666667,0
909,91,57,3,27,4,21,11.0,33.0,11,16,2,196.666667,0
910,91,57,3,27,4,21,11.0,33.0,11,16,2,196.666667,0
911,91,57,3,27,4,21,11.0,33.0,11,16,2,196.666667,0

In [ ]:
X.to_csv('Hir_Nu.csv')

In [ ]:
from google.colab import files
files.download("Hir_Nu.csv")

In [ ]:
name

array([' Bishaar Ansar ', ' Saeed ur Rehman ', ' Shanzay Raza ',
       'Aaqil Inam', 'AbdulRehman- Naveed', 'Abdur Rehman',
       'Aishah Bhatti', 'Ali Asgher Munj', 'Anmol Islam', 'Asim Mughal',
       'Atif Waheed', 'Aymen Safdar', 'Azmeena Karim', 'Bilal Siddiqi',
       'Fatima Mahmood', 'Haleema Ahmed', 'Hammad Mushtaq',
       'Haroon Rashid', 'Hasaan Khurshid', 'Imran Javed',
       'Jeremiah Jaleel  Edgar', 'Mishah Aizaz', 'Mohnsin Manzoor',
       'Muhammad Arsalan Gilani', 'Muhammad Fakhar Shahzad',
       'Musab Ahmed', 'Nouman Asghar', 'Rabale Zaffar', 'Rabia Sheikh',
       'Rida Mumtaz', 'Rija Unser', 'Shumaila Bashir',
       'Syeda Sabika Zahra', 'Taha Hameed', 'Talha Masood',
       'Talha Rasool', 'Waheed Latif', 'abdul shafay', 'adeel asghar',
       'ahsan raza', 'areeba aamir', 'areeba jalil', 'aroosa tariq',
       'arrej saleem khan niazi', 'ayesha khan', 'azka saqib',
       'azqua arif', 'bihamaal', 'bilal shahid', 'chandni naveed ikhlas',
       'elisha hussain', 'farda daar', 'farheen fatima', 'fatima mansoor',
       'hadiqa aslam sheikh', 'hafiz m mohsin', 'hammad bilalshah',
       'hassan naqvi', 'hassan raza', 'hira salman', 'hummayun arshad',
       'kanza khurram ', 'khadija irfan ', 'khuzama bano', 'kiran latif',
       'laiba rizwan meer', 'm bilal', 'm noraiz naveed',
       'm. kashif shahzad', 'm. ubashir hussain', 'maham masood',
       'maheen rehman', 'malaika aween ', 'mehnaz jan', 'mishal nasir',
       'mishal shami', 'moazzam ali khan manj', 'mohsin ali',
       'nazeha imtiaz', 'neha zubairi', 'nobel john', 'ouruba mubashir',
       'rabiya khalid', 'raffay muustafa kazmi', 'rutabah ahmad sheikh',
       'saad amjad', 'sara imran khan', 'shaban yousaf',
       'shehr bano kazmi', 'syed m ehtisham ali', 'syed usman',
       'tanveeer hussain abbasi', 'taqi nazar', 'taskeen malik',
       'tehniyat ali', 'umar aziz', 'wajeeh sultan', 'wajiha amir',
       'waqas sami khan'], dtype=object)

In [ ]:
data['N A M E']

0     14
1     25
2     32
3     23
4     18
      ..
94    48
95    77
96    67
97    95
98    97
Name: N A M E, Length: 99, dtype: int64

In [ ]:
# le.fit(data['N A M E'])
le.classes_=name
X['N A M E']=le.inverse_transform(X['N A M E'])
le.classes_=gender
X['Gender']=le.inverse_transform(X['Gender'])
le.classes_=designation
X['Designation']=le.inverse_transform(X['Designation'])
le.classes_=status
X['Status']=le.inverse_transform(X['Status'])
le.classes_=joining
X['Joining']=le.inverse_transform(X['Joining'])
le.classes_=Area
X['Area']=le.inverse_transform(X['Area'])
le.classes_=department
X['Department']=le.inverse_transform(X['Department'])
le.classes_=city
X['City']=le.inverse_transform(X['City'])
le.classes_=religion
X['Religion']=le.inverse_transform(X['Religion'])
X

,Sr #,N A M E,Gender,Designation,Status,Joining,EXPEREINCE,Age,Area,Department,City,Salary,Religion
0,1,Fatima Mahmood,F,Account Manager,Employed,12-Apr-21,4.0,24.0,DHA,client service,Lahore,150.000000,Islam
1,2,Musab Ahmed,M,Sr. Account Manager,Employed,14-Jun-21,6.0,28.0,DHA,client service,Lahore,225.000000,Islam
2,3,Syeda Sabika Zahra,F,Account Manager,Employed,15-Sep-17,6.0,24.0,cantt,client service,Lahore,175.000000,Islam
3,4,Muhammad Arsalan Gilani,M,MTO- Client Service,Employed,21-Oct-21,0.5,21.0,DHA,client service,Lahore,100.000000,Islam
4,5,Hasaan Khurshid,M,Associate Art Director,Employed,4-Nov-21,5.0,25.0,cantt,client service,Lahore,200.000000,Islam
...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,91,hassan naqvi,M,content editor,Unemployed,25-Aug-21,11.0,33.0,bahria town,social media,Lahore,196.666667,Islam
908,91,hassan naqvi,M,content editor,Unemployed,25-Aug-21,11.0,33.0,bahria town,social media,Lahore,196.666667,Islam
909,91,hassan naqvi,M,content editor,Unemployed,25-Aug-21,11.0,33.0,bahria town,social media,Lahore,196.666667,Islam
910,91,hassan naqvi,M,content editor,Unemployed,25-Aug-21,11.0,33.0,bahria town,social media,Lahore,196.666667,Islam
911,91,hassan naqvi,M,content editor,Unemployed,25-Aug-21,11.0,33.0,bahria town,social media,Lahore,196.666667,Islam

In [ ]:
le.classes_=education
y=le.inverse_transform(y)
y

array(['MBA', 'MBA', 'MASTER MASS COMMUNICATION', 'BBA', 'MBA', 'MBA',
       'MBA', 'BBA', 'CA', 'BA', 'MASS COMM', 'BBA', 'BBA', 'BBA',
       'MASS COMM', 'MEDIA SCIENCES', 'BBA', 'MASTER IN FILM',
       'MASTER IN FILM', 'BBA MEDIA SCINECES', 'BBA',
       'MASTER IN GRAPHIC DESING', 'Graduation in Designing', 'BFA',
       ' Graduation ', 'BFA', 'BFA', 'BFA', 'BFA', 'DIPLOMA IN DESIGING',
       'BFA', 'BFA', 'BA AND DIPLOMAS IN DESIGNING',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'BA AND VIDEOGRAPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS', ' Graduation ',
       'MSC tv production', 'bcom', 'BS hons media studies', 'MBA',
       'BS hons accounting and finance', 'BBA', 'MBA',
       'MSC tv production', 'MBA', 'MBA', 'MBA', 'bachelors philosophy',
       'BBA', 'Bsc hons', 'bachelors media studies', 'BBA', 'BA', 'BBA',
       'BA', 'BBA', 'BS communication and media', 'BA',
       'Bachelors in visual communication designing', 'BA', 'BBA', 'BFA',
       'BBA', 'BBA,BSCS', 'MBA', 'BBA', 'BA', 'BBA', 'BA, BS marketing',
       'bachelors textile designing', 'BS design', 'BA', 'BSCS', 'BA',
       'BA', 'BSMA', 'bachelors in fashion marketing and merchandizing',
       'Mphil', 'bachelors in fashion marketing and merchandizing',
       'bachelors in furniture designing', 'BSC applied accounting',
       'BSC business and management', 'MSC economics', 'MBA', 'BSCS',
       'bs economics', 'BBA', 'bachelors in liberal arts', 'BBA',
       'journalism', 'Bsc cultural studies', 'Bs fashion marketing',
       'Bachelors in fashion design', 'BCOM IT', 'BCOM', 'bs physice',
       'bs aviation management', 'BBA', ' Graduation ', ' Graduation ',
       ' Graduation ', ' Graduation ', ' Graduation ', ' Graduation ',
       ' Graduation ', ' Graduation ', ' Graduation ', ' Graduation ',
       ' Graduation ', ' Graduation ', ' Graduation ', ' Graduation ',
       ' Graduation ', ' Graduation ', ' Graduation ', 'BA', 'BA', 'BA',
       'BA', 'BA', 'BA', 'BA', 'BA', 'BA', 'BA',
       'BA AND DIPLOMAS IN DESIGNING', 'BA AND DIPLOMAS IN DESIGNING',
       'BA AND DIPLOMAS IN DESIGNING', 'BA AND DIPLOMAS IN DESIGNING',
       'BA AND DIPLOMAS IN DESIGNING', 'BA AND DIPLOMAS IN DESIGNING',
       'BA AND DIPLOMAS IN DESIGNING', 'BA AND DIPLOMAS IN DESIGNING',
       'BA AND DIPLOMAS IN DESIGNING', 'BA AND DIPLOMAS IN DESIGNING',
       'BA AND DIPLOMAS IN DESIGNING', 'BA AND DIPLOMAS IN DESIGNING',
       'BA AND DIPLOMAS IN DESIGNING', 'BA AND DIPLOMAS IN DESIGNING',
       'BA AND DIPLOMAS IN DESIGNING', 'BA AND DIPLOMAS IN DESIGNING',
       'BA AND DIPLOMAS IN DESIGNING', 'BA AND DIPLOMAS IN DESIGNING',
       'BA AND VIDEOGRAPHICS', 'BA AND VIDEOGRAPHICS',
       'BA AND VIDEOGRAPHICS', 'BA AND VIDEOGRAPHICS',
       'BA AND VIDEOGRAPHICS', 'BA AND VIDEOGRAPHICS',
       'BA AND VIDEOGRAPHICS', 'BA AND VIDEOGRAPHICS',
       'BA AND VIDEOGRAPHICS', 'BA AND VIDEOGRAPHICS',
       'BA AND VIDEOGRAPHICS', 'BA AND VIDEOGRAPHICS',
       'BA AND VIDEOGRAPHICS', 'BA AND VIDEOGRAPHICS',
       'BA AND VIDEOGRAPHICS', 'BA AND VIDEOGRAPHICS',
       'BA AND VIDEOGRAPHICS', 'BA AND VIDEOGRAPHICS', 'BA, BS marketing',
       'BA, BS marketing', 'BA, BS marketing', 'BA, BS marketing',
       'BA, BS marketing', 'BA, BS marketing', 'BA, BS marketing',
       'BA, BS marketing', 'BA, BS marketing', 'BA, BS marketing',
       'BA, BS marketing', 'BA, BS marketing', 'BA, BS marketing',
       'BA, BS marketing', 'BA, BS marketing', 'BA, BS marketing',
       'BA, BS marketing', 'BA, BS marketing', 'BBA MEDIA SCINECES',
       'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES',
       'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES',
       'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES',
       'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES',
       'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES',
       'BBA MEDIA SCINECES', 'BBA MEDIA SCINECES', 'BBA,BSCS', 'BBA,BSCS',
       'BBA,BSCS', 'BBA,BSCS', 'BBA,BSCS', 'BBA,BSCS', 'BBA,BSCS',
       'BBA,BSCS', 'BBA,BSCS', 'BBA,BSCS', 'BBA,BSCS', 'BBA,BSCS',
       'BBA,BSCS', 'BBA,BSCS', 'BBA,BSCS', 'BBA,BSCS', 'BBA,BSCS',
       'BBA,BSCS', 'BCOM', 'BCOM', 'BCOM', 'BCOM', 'BCOM', 'BCOM', 'BCOM',
       'BCOM', 'BCOM', 'BCOM', 'BCOM', 'BCOM', 'BCOM', 'BCOM', 'BCOM',
       'BCOM', 'BCOM', 'BCOM', 'BCOM IT', 'BCOM IT', 'BCOM IT', 'BCOM IT',
       'BCOM IT', 'BCOM IT', 'BCOM IT', 'BCOM IT', 'BCOM IT', 'BCOM IT',
       'BCOM IT', 'BCOM IT', 'BCOM IT', 'BCOM IT', 'BCOM IT', 'BCOM IT',
       'BCOM IT', 'BCOM IT', 'BFA', 'BFA', 'BFA', 'BFA', 'BFA', 'BFA',
       'BFA', 'BFA', 'BFA', 'BFA', 'BFA', 'BS communication and media',
       'BS communication and media', 'BS communication and media',
       'BS communication and media', 'BS communication and media',
       'BS communication and media', 'BS communication and media',
       'BS communication and media', 'BS communication and media',
       'BS communication and media', 'BS communication and media',
       'BS communication and media', 'BS communication and media',
       'BS communication and media', 'BS communication and media',
       'BS communication and media', 'BS communication and media',
       'BS communication and media', 'BS design', 'BS design',
       'BS design', 'BS design', 'BS design', 'BS design', 'BS design',
       'BS design', 'BS design', 'BS design', 'BS design', 'BS design',
       'BS design', 'BS design', 'BS design', 'BS design', 'BS design',
       'BS design', 'BS hons accounting and finance',
       'BS hons accounting and finance', 'BS hons accounting and finance',
       'BS hons accounting and finance', 'BS hons accounting and finance',
       'BS hons accounting and finance', 'BS hons accounting and finance',
       'BS hons accounting and finance', 'BS hons accounting and finance',
       'BS hons accounting and finance', 'BS hons accounting and finance',
       'BS hons accounting and finance', 'BS hons accounting and finance',
       'BS hons accounting and finance', 'BS hons accounting and finance',
       'BS hons accounting and finance', 'BS hons accounting and finance',
       'BS hons accounting and finance', 'BS hons media studies',
       'BS hons media studies', 'BS hons media studies',
       'BS hons media studies', 'BS hons media studies',
       'BS hons media studies', 'BS hons media studies',
       'BS hons media studies', 'BS hons media studies',
       'BS hons media studies', 'BS hons media studies',
       'BS hons media studies', 'BS hons media studies',
       'BS hons media studies', 'BS hons media studies',
       'BS hons media studies', 'BS hons media studies',
       'BS hons media studies', 'BSC applied accounting',
       'BSC applied accounting', 'BSC applied accounting',
       'BSC applied accounting', 'BSC applied accounting',
       'BSC applied accounting', 'BSC applied accounting',
       'BSC applied accounting', 'BSC applied accounting',
       'BSC applied accounting', 'BSC applied accounting',
       'BSC applied accounting', 'BSC applied accounting',
       'BSC applied accounting', 'BSC applied accounting',
       'BSC applied accounting', 'BSC applied accounting',
       'BSC applied accounting', 'BSC business and management',
       'BSC business and management', 'BSC business and management',
       'BSC business and management', 'BSC business and management',
       'BSC business and management', 'BSC business and management',
       'BSC business and management', 'BSC business and management',
       'BSC business and management', 'BSC business and management',
       'BSC business and management', 'BSC business and management',
       'BSC business and management', 'BSC business and management',
       'BSC business and management', 'BSC business and management',
       'BSC business and management', 'BSCS', 'BSCS', 'BSCS', 'BSCS',
       'BSCS', 'BSCS', 'BSCS', 'BSCS', 'BSCS', 'BSCS', 'BSCS', 'BSCS',
       'BSCS', 'BSCS', 'BSCS', 'BSCS', 'BSCS', 'BSMA', 'BSMA', 'BSMA',
       'BSMA', 'BSMA', 'BSMA', 'BSMA', 'BSMA', 'BSMA', 'BSMA', 'BSMA',
       'BSMA', 'BSMA', 'BSMA', 'BSMA', 'BSMA', 'BSMA', 'BSMA',
       'Bachelors in fashion design', 'Bachelors in fashion design',
       'Bachelors in fashion design', 'Bachelors in fashion design',
       'Bachelors in fashion design', 'Bachelors in fashion design',
       'Bachelors in fashion design', 'Bachelors in fashion design',
       'Bachelors in fashion design', 'Bachelors in fashion design',
       'Bachelors in fashion design', 'Bachelors in fashion design',
       'Bachelors in fashion design', 'Bachelors in fashion design',
       'Bachelors in fashion design', 'Bachelors in fashion design',
       'Bachelors in fashion design', 'Bachelors in fashion design',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bachelors in visual communication designing',
       'Bs fashion marketing', 'Bs fashion marketing',
       'Bs fashion marketing', 'Bs fashion marketing',
       'Bs fashion marketing', 'Bs fashion marketing',
       'Bs fashion marketing', 'Bs fashion marketing',
       'Bs fashion marketing', 'Bs fashion marketing',
       'Bs fashion marketing', 'Bs fashion marketing',
       'Bs fashion marketing', 'Bs fashion marketing',
       'Bs fashion marketing', 'Bs fashion marketing',
       'Bs fashion marketing', 'Bs fashion marketing',
       'Bsc cultural studies', 'Bsc cultural studies',
       'Bsc cultural studies', 'Bsc cultural studies',
       'Bsc cultural studies', 'Bsc cultural studies',
       'Bsc cultural studies', 'Bsc cultural studies',
       'Bsc cultural studies', 'Bsc cultural studies',
       'Bsc cultural studies', 'Bsc cultural studies',
       'Bsc cultural studies', 'Bsc cultural studies',
       'Bsc cultural studies', 'Bsc cultural studies',
       'Bsc cultural studies', 'Bsc cultural studies', 'Bsc hons',
       'Bsc hons', 'Bsc hons', 'Bsc hons', 'Bsc hons', 'Bsc hons',
       'Bsc hons', 'Bsc hons', 'Bsc hons', 'Bsc hons', 'Bsc hons',
       'Bsc hons', 'Bsc hons', 'Bsc hons', 'Bsc hons', 'Bsc hons',
       'Bsc hons', 'Bsc hons', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA',
       'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA', 'CA',
       'DIPLOMA IN DESIGING', 'DIPLOMA IN DESIGING',
       'DIPLOMA IN DESIGING', 'DIPLOMA IN DESIGING',
       'DIPLOMA IN DESIGING', 'DIPLOMA IN DESIGING',
       'DIPLOMA IN DESIGING', 'DIPLOMA IN DESIGING',
       'DIPLOMA IN DESIGING', 'DIPLOMA IN DESIGING',
       'DIPLOMA IN DESIGING', 'DIPLOMA IN DESIGING',
       'DIPLOMA IN DESIGING', 'DIPLOMA IN DESIGING',
       'DIPLOMA IN DESIGING', 'DIPLOMA IN DESIGING',
       'DIPLOMA IN DESIGING', 'DIPLOMA IN DESIGING',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'GRADUATE AND DIPLOMAS IN ANIMATION AND GRPHICS',
       'Graduation in Designing', 'Graduation in Designing',
       'Graduation in Designing', 'Graduation in Designing',
       'Graduation in Designing', 'Graduation in Designing',
       'Graduation in Designing', 'Graduation in Designing',
       'Graduation in Designing', 'Graduation in Designing',
       'Graduation in Designing', 'Graduation in Designing',
       'Graduation in Designing', 'Graduation in Designing',
       'Graduation in Designing', 'Graduation in Designing',
       'Graduation in Designing', 'Graduation in Designing', 'MASS COMM',
       'MASS COMM', 'MASS COMM', 'MASS COMM', 'MASS COMM', 'MASS COMM',
       'MASS COMM', 'MASS COMM', 'MASS COMM', 'MASS COMM', 'MASS COMM',
       'MASS COMM', 'MASS COMM', 'MASS COMM', 'MASS COMM', 'MASS COMM',
       'MASS COMM', 'MASTER IN FILM', 'MASTER IN FILM', 'MASTER IN FILM',
       'MASTER IN FILM', 'MASTER IN FILM', 'MASTER IN FILM',
       'MASTER IN FILM', 'MASTER IN FILM', 'MASTER IN FILM',
       'MASTER IN FILM', 'MASTER IN FILM', 'MASTER IN FILM',
       'MASTER IN FILM', 'MASTER IN FILM', 'MASTER IN FILM',
       'MASTER IN FILM', 'MASTER IN FILM', 'MASTER IN GRAPHIC DESING',
       'MASTER IN GRAPHIC DESING', 'MASTER IN GRAPHIC DESING',
       'MASTER IN GRAPHIC DESING', 'MASTER IN GRAPHIC DESING',
       'MASTER IN GRAPHIC DESING', 'MASTER IN GRAPHIC DESING',
       'MASTER IN GRAPHIC DESING', 'MASTER IN GRAPHIC DESING',
       'MASTER IN GRAPHIC DESING', 'MASTER IN GRAPHIC DESING',
       'MASTER IN GRAPHIC DESING', 'MASTER IN GRAPHIC DESING',
       'MASTER IN GRAPHIC DESING', 'MASTER IN GRAPHIC DESING',
       'MASTER IN GRAPHIC DESING', 'MASTER IN GRAPHIC DESING',
       'MASTER IN GRAPHIC DESING', 'MASTER MASS COMMUNICATION',
       'MASTER MASS COMMUNICATION', 'MASTER MASS COMMUNICATION',
       'MASTER MASS COMMUNICATION', 'MASTER MASS COMMUNICATION',
       'MASTER MASS COMMUNICATION', 'MASTER MASS COMMUNICATION',
       'MASTER MASS COMMUNICATION', 'MASTER MASS COMMUNICATION',
       'MASTER MASS COMMUNICATION', 'MASTER MASS COMMUNICATION',
       'MASTER MASS COMMUNICATION', 'MASTER MASS COMMUNICATION',
       'MASTER MASS COMMUNICATION', 'MASTER MASS COMMUNICATION',
       'MASTER MASS COMMUNICATION', 'MASTER MASS COMMUNICATION',
       'MASTER MASS COMMUNICATION', 'MBA', 'MBA', 'MBA', 'MBA', 'MBA',
       'MBA', 'MBA', 'MEDIA SCIENCES', 'MEDIA SCIENCES', 'MEDIA SCIENCES',
       'MEDIA SCIENCES', 'MEDIA SCIENCES', 'MEDIA SCIENCES',
       'MEDIA SCIENCES', 'MEDIA SCIENCES', 'MEDIA SCIENCES',
       'MEDIA SCIENCES', 'MEDIA SCIENCES', 'MEDIA SCIENCES',
       'MEDIA SCIENCES', 'MEDIA SCIENCES', 'MEDIA SCIENCES',
       'MEDIA SCIENCES', 'MEDIA SCIENCES', 'MEDIA SCIENCES',
       'MSC economics', 'MSC economics', 'MSC economics', 'MSC economics',
       'MSC economics', 'MSC economics', 'MSC economics', 'MSC economics',
       'MSC economics', 'MSC economics', 'MSC economics', 'MSC economics',
       'MSC economics', 'MSC economics', 'MSC economics', 'MSC economics',
       'MSC economics', 'MSC economics', 'MSC tv production',
       'MSC tv production', 'MSC tv production', 'MSC tv production',
       'MSC tv production', 'MSC tv production', 'MSC tv production',
       'MSC tv production', 'MSC tv production', 'MSC tv production',
       'MSC tv production', 'MSC tv production', 'MSC tv production',
       'MSC tv production', 'MSC tv production', 'MSC tv production',
       'MSC tv production', 'Mphil', 'Mphil', 'Mphil', 'Mphil', 'Mphil',
       'Mphil', 'Mphil', 'Mphil', 'Mphil', 'Mphil', 'Mphil', 'Mphil',
       'Mphil', 'Mphil', 'Mphil', 'Mphil', 'Mphil', 'Mphil',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in fashion marketing and merchandizing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing',
       'bachelors in furniture designing', 'bachelors in liberal arts',
       'bachelors in liberal arts', 'bachelors in liberal arts',
       'bachelors in liberal arts', 'bachelors in liberal arts',
       'bachelors in liberal arts', 'bachelors in liberal arts',
       'bachelors in liberal arts', 'bachelors in liberal arts',
       'bachelors in liberal arts', 'bachelors in liberal arts',
       'bachelors in liberal arts', 'bachelors in liberal arts',
       'bachelors in liberal arts', 'bachelors in liberal arts',
       'bachelors in liberal arts', 'bachelors in liberal arts',
       'bachelors in liberal arts', 'bachelors media studies',
       'bachelors media studies', 'bachelors media studies',
       'bachelors media studies', 'bachelors media studies',
       'bachelors media studies', 'bachelors media studies',
       'bachelors media studies', 'bachelors media studies',
       'bachelors media studies', 'bachelors media studies',
       'bachelors media studies', 'bachelors media studies',
       'bachelors media studies', 'bachelors media studies',
       'bachelors media studies', 'bachelors media studies',
       'bachelors media studies', 'bachelors philosophy',
       'bachelors philosophy', 'bachelors philosophy',
       'bachelors philosophy', 'bachelors philosophy',
       'bachelors philosophy', 'bachelors philosophy',
       'bachelors philosophy', 'bachelors philosophy',
       'bachelors philosophy', 'bachelors philosophy',
       'bachelors philosophy', 'bachelors philosophy',
       'bachelors philosophy', 'bachelors philosophy',
       'bachelors philosophy', 'bachelors philosophy',
       'bachelors philosophy', 'bachelors textile designing',
       'bachelors textile designing', 'bachelors textile designing',
       'bachelors textile designing', 'bachelors textile designing',
       'bachelors textile designing', 'bachelors textile designing',
       'bachelors textile designing', 'bachelors textile designing',

In [ ]:
X['EDUCATION']=y
X

,Sr #,N A M E,Gender,Designation,Status,Joining,EXPEREINCE,Age,Area,Department,City,Salary,Religion,EDUCATION
0,1,Fatima Mahmood,F,Account Manager,Employed,12-Apr-21,4.0,24.0,DHA,client service,Lahore,150.000000,Islam,MBA
1,2,Musab Ahmed,M,Sr. Account Manager,Employed,14-Jun-21,6.0,28.0,DHA,client service,Lahore,225.000000,Islam,MBA
2,3,Syeda Sabika Zahra,F,Account Manager,Employed,15-Sep-17,6.0,24.0,cantt,client service,Lahore,175.000000,Islam,MASTER MASS COMMUNICATION
3,4,Muhammad Arsalan Gilani,M,MTO- Client Service,Employed,21-Oct-21,0.5,21.0,DHA,client service,Lahore,100.000000,Islam,BBA
4,5,Hasaan Khurshid,M,Associate Art Director,Employed,4-Nov-21,5.0,25.0,cantt,client service,Lahore,200.000000,Islam,MBA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,91,hassan naqvi,M,content editor,Unemployed,25-Aug-21,11.0,33.0,bahria town,social media,Lahore,196.666667,Islam,journalism
908,91,hassan naqvi,M,content editor,Unemployed,25-Aug-21,11.0,33.0,bahria town,social media,Lahore,196.666667,Islam,journalism
909,91,hassan naqvi,M,content editor,Unemployed,25-Aug-21,11.0,33.0,bahria town,social media,Lahore,196.666667,Islam,journalism
910,91,hassan naqvi,M,content editor,Unemployed,25-Aug-21,11.0,33.0,bahria town,social media,Lahore,196.666667,Islam,journalism
911,91,hassan naqvi,M,content editor,Unemployed,25-Aug-21,11.0,33.0,bahria town,social media,Lahore,196.666667,Islam,journalism

In [ ]:
X.to_csv('Hiring_Aug.csv')

In [ ]:
from google.colab import files
files.download("Hiring_Aug.csv")